# Dependencies
node_modules/
.pnp
.pnp.js

# Build
frontend/.next/
frontend/out/
frontend/build/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
*.pyo

# Environment
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python
*.egg-info/
dist/
.venv/
venv/

# Docker
docker/postgres_data/

# Testing
coverage/
.coverage
htmlcov/
.pytest_cache/

# Misc
*.log

dump.sql
*.sql

data/
.env.prod
.env.prod.backup